.c-titlepage {
	    padding: 22px 0;
	    text-align: center;
	    text-transform: capitalize;
	    border: 2px solid #000;
	    background-color: #6DCFF6;
	    font-size: 3.2rem;
	    font-weight: bold;
	    margin-bottom: 50px;
	    line-height: 3.2rem;
	    text-transform: capitalize;
}
.p-link2{
	.c-title-sectionLink2{
		padding-top: 14px;
		margin-bottom: 23px;
	}
	p{
		font-size: 1.5rem;
		letter-spacing: 0.5px;
		color: #222222;
		line-height: 20px;
	}
	.u-red{
		color: #C40000;
	}
	.c-titletext {
		margin-top: 34px;
	    margin-bottom: 9px;
	}
	.c-textNote {
	    margin-top: 19px;
	    padding: 22px 26px;
	    border: 1px solid #11638A;
	    border-radius: 5px;
	    color: #11638A;
	    font-size: 1.5rem;
	    letter-spacing: 0.45px;
	    line-height: 20px;
	    i{
	    	font-size: 20px;
	    }
	    .fa-quote-left {
	        margin-right: 4px;
	    }
	    .fa-quote-right {
	        margin-left: 4px;
	    }
	    &--pink{
	    	border: 1px solid #F5989D;
	    	color: #F5989D;
	    }
	}
	.c-textCategory{
		&__stt, &__itemChild, &__item{
			font-size: 1.5rem;
			line-height: 30px;
			color: #222222;
		}
		&__stt{
			margin-right: 4px;
			color: #F5989D;
			font-weight: bold;
			
		}
		&__itemChild{
			margin-left: 38px;
		}
	}
	.article-style4{
		margin-bottom: 125px;
		.c-textNote{
			margin-bottom: 35px;
		}
		.c-tblStyle{
			margin-top: 13px;
		 	table{
				width: 100%;
			}
			.title{
				background-color: #EBEBEB;
				font-size: 1.4rem;
				padding-left: 47px;
				padding-right: 47px;
			}
			td{
			    color: #222222;
			}
		}
	}
/*==========Utilty============*/
	.u-red{
		font-weight: bold;
		&:before{
			width: 0;
			height: 0;
		}	
	}
}