/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-btn1{

}
.c-readmore-section {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin: auto;
    a{
    	background-color: #00ADA0;
    	min-width: 450px;
    	text-align: center;
    	line-height: 60px;
    	position: relative;
    	font-size: 1.6rem;
    	color: #fff;
    	
    	box-shadow: 5px 5px 0px 0px #000;
        @extend .font-notosansbol;
    }
    img{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 767px){
    .c-readmore-section {
        width: 100%;
        padding: 0 25px;
        margin-top: 34px;
        a {
            font-size: 1.3rem;
            box-shadow: 2px 2px 0px 0px #000;
            min-width: 100%;
            font-weight: bold;
            line-height: 39px;
        }
        img{
            width: 12px;
        }
    }
}