
.c-list1{
	&__card {
    	
    	padding-left: 7.5px;
    	padding-right: 7.5px;
	}
	&__img {
    	position: relative;
	}
	.c-category {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    background-color: #fff;
	    color: #00ADA0;
	    padding: 0px 10px;
	    line-height: 30px;
	    font-size: 1.5rem;
	}
	&__info{
		background-color: #fff;
		padding: 15px 10px;
		min-height: 115px;
		h3,h2,h4{
			font-size: 1.6rem;
			line-height: 25px;
		}
		p{
			font-size: 1.4rem;
			line-height: 33px;
		}
	}
}