//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// breakpoint
//============================================
@mixin breakpoint($point) {
	@if $point == tablets {
		@media only screen and (max-width: 1024) { @content ; }
	}
	@else if $point == sp {
		@media only screen and (max-width: 767px) { @content ; }
	}
}

@mixin  border-tlbr($a,$b,$c,$d,$color){
	border-top: $a solid $color;
	border-bottom: $c solid $color;
	border-left: $b solid $color;
	border-right: $c solid $color;
}           

@mixin  display-flex($a,$b){
	margin-left: $a;
	margin-right: $b;
	display: flex;
	flex-wrap: wrap;
}
