///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-bckgreen{
	background-color: #00ADA0;
	color: #ffff;
}
.u-red{
	color: #fd0000;
}
.u-blue-bold{
	color: #00ada0;
	font-weight: bold;
	font-size: 1.4rem;
}