/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
---------------------INDEX-----------------------*/

.c-title-section {
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    text-transform: capitalize;
    & > * {
    	font-weight: bold;
    	font-size: 2.4rem;
    	line-height: 2.4rem;
    }
    &--bckYellow{
    	@include  border-tlbr(1px,7px,1px,1px,$color-yellow1);
    	background-color: $color-yellow3;
    }
    &--bckPink{
        @include  border-tlbr(1px,7px,1px,1px,#F68E56);
        background-color: #FFF2F2;
    }
    &--bckGray{
        @include  border-tlbr(1px,7px,1px,1px,$color-blue);
        background-color: $color-gray;
    }
}
/*----------END-INDEX-----------------------*/
/*----------Start-Link1-----------------------*/
.c-title-link{
    h1,h2,h3,h4{
        font-size: 1.8rem;
        text-transform: uppercase;
        line-height: 20px;
        padding-bottom: 12px;
        border-bottom: 2px solid #CCCCCC;
        margin-bottom: 30px;
        color: #222222;
    }
}
/*----------END-Link1-----------------------*/
/*----------Start-Link2-----------------------*/
.c-titletext{
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 10px;
    i{
        font-size: 20px;
    }
    h3,h4,h5{
        margin-left: 8px;
        font-size: 1.6rem;
        letter-spacing: 0.8px;
    }
    & > *{
        display: inline-block;
        vertical-align: middle;
    }
    &--pink > *{
        color: #F5989D;
    }
    &--blue > *{
        color: #11638A;
    }
}
.c-title-sectionLink2{
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    & > * {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
    &--bckBlue{
        @include  bordLeft-color(7px,#11638A);
        background-color: #BCD5E1;
    }
    &--bckPink{
        @include  bordLeft-color(7px,#F5989D);
        background-color: #FFE8E9;
    }
}
/*----------END-Link2-----------------------*/