.c-category{
	padding: 4px 21.3px;
	display: inline-block;
	font-size: 1.5rem;
	span{
		color: #222222;
		display: inline-block;
		font-size: 1.4rem;
	}
	&--pink{
		background-color: $color-pink1;
	}
	&--green{
		background-color: $color-green;
	}
	&--yellow{
		background-color: $color-yellow2;
	}
}