/*==========index.html=========PADD======*/
.p-home{
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.p-home1{
	padding-top: 40px;
	padding-bottom: 60px;
}
.p-home2{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #FAFAFA;
}
.p-home3{
	padding-top: 60px;
	margin-bottom: 115px;
}
.c-wrapper{
	@include  display-flex(-25px,-25px);
}
/*==========Link1.html=========PADD======*/
.p-link1{
	padding-top: 70px;
	padding-bottom: 0;
	margin: 0;
	&--two{
		padding-top: 60px;
	}
}
.c-wrapper4col{
	margin-left: -10px;
	margin-right: -10px;
	display: flex;
	flex-wrap: wrap;
}

.p-wrapcaptabl{
	padding-bottom: 50px;
	&--two{
		padding-bottom: 108px;
	}
}
/*==========Link2.html============PADD======*/
.p-link2{
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	&--two{
		padding-top: 70px;
	}
}

