.p-company{
	margin-bottom: 210px;
}

.company__list{
    margin: 0 -42px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 100px;
}
.company__item{
    padding: 0 42px;
    margin-top: 118px;
    &:nth-child(-n  + 3){
    	margin-top: 0;	
    }
}

.c-company{
	width: 330px;
	a:hover{
		cursor:pointer;
		opacity: 0.8;
	}
	&__name{
    	font-size: 1.8rem;
	    font-weight: bold;
	    margin-top: 17px;
	    margin-bottom: 9px;
	}
	&__address{
	    font-size: 1.2rem;
	}
	&__text{
	    font-size: 1.4rem;
	    font-weight: bold;
	    color: #00ADA0;
	    line-height: 30px;
	}
	&__thumb{
		position: relative;
		&:before{
			padding-top: 66.66%;
			content: '';
			display: block;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			right: 0;
		}
	}
	&__item-main{
	    display: flex;
	    letter-spacing: 0.06rem;
	    justify-content: space-between;
	    align-items: center;
	    align-items: baseline;
	    padding-top: 14px;
	    .read-more{
    		background-color: #00A99D;
    	    width: 20px;
    	    height: 20px;
    	    text-align: center;
    	    line-height: 18px;
    	    border-radius: 100%;
    	    font-size: 10px;
    	    color: #fff;
    	    padding-left: 3px;
	    }
	}
	&__welfare{
		margin-top: 28px;
		span{
			background-color: #cccc;
			border-radius: 25px;
			padding: 2px 9px;
			font-size: 1.2rem;
			line-height: 19px;
		}
	}
}
/*==========Pagi-Page===============*/
.c-pagenation {
    margin-top: 57px;
    .prev a, .next  a{
    	border: none;
    	color: #000;

    }
    .prev span, .next span{
    	font-size: 1.8rem;
    	font-weight: bold;
    }
}
.c-pagenation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.c-pagenation .prev {
    margin-right: 24px;
    display: none;
}
.c-pagenation li {
    display: block;
    height: 46px;
    min-width: 46px;
    margin-right: 10px;
}
.c-pagenation .current a {
    background: #000;
    color: #fff;
}
.c-pagenation li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 3px solid #000;
    font-size: 2rem;
}