/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top{
    //-------------------------------------------------------
    &1{
        
    }
    //-------------------------------------------------------
    &2{

    }
    //-------------------------------------------------------
    &3{
        
    }
    //-------------------------------------------------------
    &4{
        
    }
}

.c-mainvisual{
    z-index: 1;
    .slick-slide img {
        width: 100%;
    }
}
.c-mainvisual__item {
    max-height: 700px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    .c-mainvisual__imgslide{
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .15;
            z-index: 3;
        }
    }
    
}
.c-mainvisual__imgslide.sp-only{
    display: none;
}

.c-mainvisual__content {
    width: 558px;
    position: absolute;
    bottom: 50px;
    max-width: 558px;
    .sp-only{
        display: none;
    }
    p{
        height: 35px;
        text-align: center;
        font-size: 2rem;
        background-color: rgba(255,255,255,0.2);
        margin-top: 34px;
        color: #fff;
    }
}
.p-home1{
    background-image: url(../../assets/img/index/bck-pickup.png);
    padding-top: 50px;
    .slick-slide img {
        width: 100%;
    }
}
/*============p-HOME2=================*/
.p-home2{
    background-image: url(../../assets/img/index/bck-corpinformat.png);
    background-repeat: repeat;
    padding-top: 50px;
    padding-bottom: 75px;
}
.c-listCorpInfo {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    align-items: flex-start;
}
.c-CorpInfo {
    width: 580px;
    padding-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 12px;
    margin-top: 35px;
    &:nth-child(-n + 2){
        margin-top: 0px;
    }
    &__box {
        background-color: #fff;
        margin: 0 0 0 -40px;
        position: relative;
        width: 285px;
        z-index: 2;
        padding: 24px 10px 28px 15px;
        margin-top: 25px;
        -webkit-box-shadow: 0 3px 7px 0 rgba(89, 89, 89, 0.35);
        box-shadow: 0 3px 7px 0 rgba(89, 89, 89, 0.35);
        h3{
            font-size: 1.8rem;
            line-height: 25px;
            margin-bottom: 3px;
        }
        span {
            font-size: 1.2rem;
            line-height: 22px;
        }
        p {
            font-size: 1.4rem;
            font-weight: 700;
            color: #00ADA0;
            margin-top: 4px;
            margin-bottom: 25px;
            line-height: 26px;
        }
    }
    &__readmore {
        line-height: 12px;
        font-size: 1.2rem;
        border-radius: 30px;
        padding: 1px 7px;
        background-color: #CCCCCC;
    }
    &__img {
        overflow: hidden;
        max-width: 314px;
        display: flex;
        align-items: initial;
        height: 210px;
        border: 2px solid #fff;
    }
}
/*============End-p-HOME2=================*/
/*============End-p-HOME3=================*/
.p-home3{
    padding-top: 50px;
    .c-main-title{
        margin-bottom: 26px;
        .wrap-title{
            border: none;
            width: auto;
            padding: 0;
        }
        .subtitle{
            margin-bottom: 10px;
        }
    }
    .l-container{
        display: flex;
        flex-wrap: wrap;
    }
    .news__background {
        width: 290px;
        margin-left: -128px;
        max-width: 290px;
    }
    .news__list{
        width:780px;
        margin-left: 54px;
        
    }
    .item {
        border-bottom: 1px solid #ddd;
        &:nth-child(1){
            border-top: 1px solid #ddd;
        }


        &__date {
            line-height: 20.06px;
            color: #781111;
            width: 100px;
            font-size: 1.4rem;
        }
        &__desc {
            font-size: 1.6rem;
            line-height: 20.06px;
            color: #000;
        }
        a{
            display: table;
            width: 100%;
            text-decoration: none;
            padding: 2.2rem 0;
        }
        p{
            display: table-cell;
            vertical-align: middle;
            &.sp-only{
                display: none;
            }
        }
        .c-readmore-section{
            margin-top: 45px;
        }
    }

    
}
/*============End-p-HOME3=================*/
/*============End-p-HOME4=================*/
.p-home4 {
    margin-top: 115px;
    background-color: #F8B616;
    margin-bottom: 80px;
}
.discussion-book{
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    &__imgl, &__imgr{
        width: 440px;
        max-width: 440px;
    }
    .sp-only{
        display: none;
    }
    &__content {
        position: relative;
        width: 535px;
        order: 2;
        p{
           margin-top: 200px;
           text-align: center;
           font-size: 1.7rem;
           line-height: 25px;
        }
    }
    .c-readmore-section{
        margin-top: 40px;
        a{
            box-shadow: none;
            background-color: #fff;
            color: #00ADA0;
            font-weight: 700;
        }
    }
    &__imgbook{
            position: absolute;
            max-width: none;
            margin: auto;
            width: 625px;
            left: 50%;
            top: -65px;
            transform: translateX(-50%);
        }
    &__readmore {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.discussion-book__imgr {
   
    order: 3;
}
.discussion-book__imgl {
    
    order: 1;
}

/*============End-p-HOME4=================*/







@media only screen and (max-width: 767px){
.l-main, .l-container{
    width: 100%;
}
.c-header {
    position: relative;
}
/*=========Slide================*/
.c-mainvisual__item{
    background-image: none !important;
    height: auto !important;
    .pc-only{
        display: none;
    }
}
.c-mainvisual__content{
    width: 100%;
    max-width: 100%;
    bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    p{
        font-weight: 700;
        font-size: 1.6rem;
        height: auto;
        margin-top: 35px;
    }
}
.c-mainvisual__imgslide.sp-only {
    display: block;
}
.c-mainvisual__content .sp-only {
    display: block;
}
/*=========End-Slide================*/
/*==========P-hOME1==============*/
.p-home1 {
    padding-top: 35px;
    background-color: #15B1A5;
    background-image: none;
}
.c-title-section .main-title h2, .c-title-section .main-title h3, .c-title-section .main-title h4 {
    font-size: 1.4rem;
}
.c-title-section{
    .main-title p{
        font-size: 1.6rem;
    }
    .main-title {
        padding-top: 10px;
    }
}
.c-list1{
    .c-category {
        font-size: 1.2rem;
    }
    &__info{
        text-overflow: ellipsis;
        width: 100%;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        max-height: 85px;
        padding: 17px 10px;
        min-height: 92px;
        h2,h3,h4{
           font-size: 1.18rem;
           line-height: 1.3;
        }
         p {
            font-size: 1.1rem;
            line-height: 22px;
        }
    }

}



/*==========End-P-HOME1==============*/
/*==========Start-P-HOME2==============*/
.p-home2 {
    background-image: url(../../assets/img/index/bck-corpinformat-rp.png);
    padding-top: 35px;
    padding-bottom: 42px;
}
.c-CorpInfo{
    width: 100%;
    padding: 0 15px;
    margin: 0;
    &__img {
        max-width: 100%;
        height: 125px;
        border: 0.5px solid #fff;
        width: 100%;
    }
    &__box{ 
        margin-top: 15px;
        padding: 10px 8px 23px 8px;
        width: 100%;
       
        h3 {
            font-size: 1.4rem;
            line-height: 17px;
            margin-bottom: 0;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.4;
            margin-bottom: 15px;
        }
        span {
            font-size: 1.1rem;
        }
    }
    &__readmore {
        font-size: 1.1rem;
    }
}
.c-CorpInfo + .c-CorpInfo{
    margin-top: 25px;
}
.c-CorpInfo:nth-child(-n + 1) {
    margin-top: 0px;
}
.c-CorpInfo:nth-child(-n + 2) {
    margin-top: 25px;
}
/*==========End-P-HOME2==============*/
/*==========End-P-HOME3==============*/
.p-home3{
    padding-top: 30px;
    .news__background {
        display: none;
    }
    .news__list {
        width: 100%;
        margin: 0;
        padding: 0 15px;

    }
    .c-main-title{
        margin-bottom: 22px;
        .subtitle {
            margin-bottom: 1px;
        }
    }
    .item{
        p {
        display: block;
            &.pc-only{
                display: none;
            }
            &.sp-only{
                display: block;
            }
        }
        a {
            padding: 9px 0;
        }
    }

    .item__desc {
        font-size: 1.3rem;
    }
    .item__date {
        font-size: 1.2rem;
        margin-bottom: 4px;
    }
    .c-readmore-section a{

    }
}
/*==========End-P-HOME3==============*/
/*==========Start-P-HOME4==============*/
.discussion-book{
    .sp-only {
        display: block;
    }
}
/*==========End-P-HOME4==============*/
/*============discussion-book=========*/
.p-home4{
    a{
        box-shadow: none;
        background-color: #fff;
        color: #00ADA0;
        font-weight: 700;
    }
    .pc-only{
        display: none;
    }
    .discussion-book {
        padding:0;
        flex-wrap: wrap;
        padding-bottom: 45px;
        &__imgbook{
            width: 241px;
            top: -34px;
        }
        &__imgl{
            float: left;
            order: 2;
            width: 50%;
        }
        &__imgr{
            float: right;
            order: 2;
            width: 50%;
        }
        &__content {
            order: 1;
            width: 100%;
        }
    }
    .c-readmore-section{
        order: 4;
        width: 100%;
        padding: 0 25px;
        margin-top: 25px;
        a{
            min-width: 100%;
            line-height: 39px;
        }
        img {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .discussion-book__content {
        p{
            margin-top: 85px;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 21px;
        }
    }
}
/*============end-discussion-book=========*/






}