/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top{
	//-------------------------------------------------------
	&1{
		
	}
	//-------------------------------------------------------
	&2{

	}
	//-------------------------------------------------------
	&3{
		
	}
	//-------------------------------------------------------
	&4{
		
	}
}
.font-Hiragino-Mincho{
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	      font-weight: 500;
}
.text-c{
	text-align: center;
}
.fz-0{
	font-size: 0;
}
/*=====Order=======*/
.order{
    padding: 23px 20px;
    background-color: #EEEEEE;
    text-align: center;
    p{
    	font-size: 1.5rem;    
    	line-height: 1.111;
	}
	.order-tel {
	    margin-top: 25px;
	    border: 1px solid #82141A;
	    display: block;
	    padding: 15px 45px;
	    background-color: #FFFFFF;
	    img{
	    	display: block;
	    	margin: auto;
	    	margin-bottom: 15px;
	    }
	    span {
	        font-size: 1.3rem;
	        line-height: 1.111;
	    }
	}
}
/*====End-Order======*/
/*====Start-Services===*/
.guide-section {
    background-color: #EEEEEE;
    padding-top: 60px;
    padding-bottom: 90px;
    .tab-main {
        background-color: #fff;
    }
}
.guide-tab-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  .tab-nav-link {
    width: 555px;
    padding-top: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding-bottom: 22px;
    &.current{
    	background-color: #FCD000;
    	color: #000;
    }
    &.current:after {
        display: inline-block;
    }
    .discription {
        font-size: 1.4rem;
        line-height: 20px;
    }
  }
  .guide-tab-title {
	  text-transform: uppercase;
	  font-size: 2.2rem;
	  line-height: 2rem;
	  font-weight: bold;
	  letter-spacing: 1px;
  }
  .tab-nav-link::after {
    content: '';
    border: 10px solid transparent;
    border-top-color: #FCD000;
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.guide-tab-content {
  padding: 65px 0;
  .column.right, .column.left{
  	width: 555px;
  }
  .column.left {
      padding-left: 64px;
  }
  .column.right {
      padding-left: 13px;
  }
  .guide-content-title {
  	font-size: 2.4rem;
  	margin-bottom: 35px;
  	font-weight: 500;
  	line-height: 3.2rem;
  }
  .guide-content {
  		p{
		    margin-bottom: 68px;
		    font-size: 1.5rem;
		    line-height: 2.7rem;
		  }
    .right img{
    	margin: auto;
    }
  }

}
.listservice {
	margin-top: 60px;
	display: flex;
	margin-left: 64px;
	background-color: #EEEEEE;
	margin: 60px 65px;
}
.listservice__itemfist{
	width: 265px;
	border: 1px solid;
	background: #222222;
	color: #fff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	&--content{
		& > *{
		font-size: 1.3rem;
		}
	}
}
.listservice__itemlast{
	width: calc(100% - 265px);
	font-size: 0;
}
.listservice__item{
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 30px 36px;
	.item-img{
		img{
			max-width: 95px;
			border-radius: 100%;
			margin: auto;
		}
		h4{
			font-size: 1.5rem;
			margin-top:15px;
			font-weight: 400;
		}
	}
	
}

/*====End-Services===*/
/*====START-NEWS===*/
.news-section {
	padding-top: 70px;
	.comp-main-title{
		.discription{
			font-size: 1.5rem;
			line-height: 2rem;
			margin-top: 10px;
		}
	}
}
.list-news{
	margin-top: 6px;
	padding-left: 54px;
	padding-right: 54px;
	&__read-all{
		text-align: right;
		padding-bottom: 5px;
		border-bottom: 1px solid #000;
		margin-bottom: 65px;
		a{
			margin-left: 10px;
			font-size: 1.4rem;
		}
		i{
			font-size: 1.4rem;
		}
	}
}
.news-row{
	padding-bottom: 20px;
	background-image: url("../../../assets/img/index/line-dotted.png");
	background-position: bottom;
	background-repeat: repeat-x;
	+ .news-row{
		margin-top: 20px;
	}
	.date{
		margin-right: 15px;
		color: #222222;
	}
	& > * {
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 1.5rem;
	    }
	.new-item{
		padding-left: 26px;
		span{
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
	.new-item.hot span{
		margin: 0 5px;
		border-radius: 25px;
		height: 27px;
		line-height: 27px;
		background-color: #FCD000;
		color: #fff;
		padding: 4px 30px;
	}
	&--readmore{
		font-size: 13px;
		float: right;
		padding-top: 9px;
	}
}
/*====END-NEWS===*/
/*====START-INTRODUCE===*/
.introduce-section{
	margin-top: 90px;
	.intro--infoone{
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
	}
	.intro--infoone{
	    display: flex;
	    align-items: stretch;
	}
	.intro--infotwo > *{
		display: inline-block;
		vertical-align: top;
	}
}
.intro--infoone{
	&__right{
		max-width: 555px;
		padding-left: 45px;
		padding-top: 45px;
		padding-bottom: 93px;
	    .tittle{
	    	@extend .title-tag-border;
	    }
	    .slogan {
	        font-size: 2.4rem;
	        margin-bottom: 35px;
	        line-height: 2.4rem;
	    }
	    .descript-summary {
	        font-size: 1.5rem;
	        line-height: 2.6rem;
	    }
	    .main-btn{
	    	margin-top: 35px;
	    }
	}
	&__img {
	    width: 50%;
	    img{
	    	height: 100%;
	    	width: 100%;
	    }
	}
}
.intro--infotwo{
	margin-top: 100px;
	&__left{
		width: calc(100% - 660px);
		background-color: #FCD000;
		padding-top: 50px;
		padding-left: 50px;
		padding-bottom: 50px;
	    .tittle{
	    	@extend .title-tag-border;
	    }
	    .slogan {
	        font-size: 2.4rem;
	        margin-bottom: 25px;
	        line-height: 2.4rem;
	    }
	    .descript-summary {
	        font-size: 1.5rem;
	        line-height: 2.6rem;
	    }
	    .main-btn{
	    	margin-top: 45px;
	    }
	}
	&__img {
		max-width: 660px;
	   img{
	   	height: 100%;
	   }
	}
}

/*====END-INTRODUCE===*/
/*==START-bannerindex-section======*/
.bannerindex-section{
	margin-top: 100px;
	color: #fff;
	position: relative;
	.bannerindex__img{
		position: relative;
		&:before{
			content: '';
			padding-top: 21.499%;
			display: block;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		
	}
	.banind--title{    
		position: absolute;
		top: 134px;
		text-align: center;
		width: 1100px;
		max-width: 1100px;
		h3{
			font-size: 2.8rem;
			margin-bottom: 49px;
			line-height: 2.8rem;
		}

	}
}
.banind--listHotline{
	position: absolute;
	top: 200px;
 	& > *{
		display: inline-block;
		vertical-align: middle;
	}
}
.banind--listHotline{
	margin: 0 -15px;
	.item{
		padding: 0 15px;
	}
	&__hotline{
	    padding: 11px 54.5px;
	    background-color: rgba(30,20,26,.6);
	    border: 1px solid #989A9E;
	   p{
	    	font-size:1.4rem;
	    	line-height: 2rem;
	    	margin-bottom: 7px;
	    	letter-spacing: 0.08rem;	
	    }
	}
	.mail {
		background-color: #82141A;
		> *{
			font-size: 2rem;
			line-height: 2rem;
			display: inline-block;
			vertical-align: middle;
			letter-spacing: 1px;
		}
		.sp-only{
			display: none;
		}
		&:hover{
			opacity: 0.9;
			filter: none;
			
		}
	    overflow: hidden;
	    border: 1px solid #fff;
	    padding: 30px 49px;
	    i{
		    margin-left: 29px;
	    }
	}
}
/*====END-bannerindex-section===*/
@media screen and (max-width: 767px) {
	.l-container{
		width: 100%;
	}
/*=====Order-Guide======*/
.guide-section {
	padding-top: 0;
	padding-bottom: 28px;
	background-color: #fff;
}
.guide-tab-nav{
	.tab-nav-link{
	    padding-left: 25px;
	    padding-right: 25px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    .discription {
	        font-size: 1.3rem;
	        line-height: 1.4;
	        color: #222222;
	    }
	}
	.guide-tab-title {
	    font-size: 1.8rem;
	    line-height: 2.6rem;
	    margin-bottom: 5px;
	}
}
.guide-tab-content{
	padding: 0;
	.column.left{
		padding: 0;
	    display: flex;
	    width: 100%;
	    align-items: center;
	    justify-content: center;
	}
	.guide-content-title {
	    font-size: 1.3rem;
        margin-bottom: 16px;
        margin-top: 14px;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: 1.5px;
	    h3{
	    	font-weight: 400;
	    }
	}
	.guide-content{
		p{
			line-height: 1.227;
			font-size: 1.3rem;
			margin-bottom: 26px;
		}
	}
	.column.right{
		padding-left: 20px;
		padding-right: 20px;
	}
	.listservice {
		margin-top: 33px;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	
}
.listservice__itemfist{
	margin-bottom: 15px;
	width: 100%;
	padding: 9px;
	&--content{
		position: relative;
		p{
			line-height: 20px;
		}
		span{
			display: none;
		}
	}
}
.listservice__itemlast, .listservice__item {
    width: 100%;
    display: block;
}
.listservice__item{
	padding: 0;
	padding-left: 15px;
	text-align: left;
	.readmore i{
		font-size: 1.6rem;
	}
	& + .listservice__item{
		margin-top: 20px;
	}
	.item-img > * {
	    font-size: 0;
	    display: inline-block;
	    vertical-align: middle;
	}
	.item-img{
		img {
	    	max-width: 50px;
	    	margin-right: 15px;
	    }
	    h4 {
			font-size: 1.3rem;
			margin: auto;
			line-height: 1.111;
	    }
	    .readmore{
			font-size: 1.8rem;
			text-align: right;
			float: right;
			line-height: 50px;
			margin-right: 20px;
	    }
	}
}
/*=====End-Order-Guide======*/
/*=====Start-News======*/
	.news-section{
		padding-top: 0;
		.list-news{
			padding: 0;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.list-news{
		i{
			display: none;
		}
		.list-news__read-all {
		    margin-bottom: 18px;
		}
		.main-btn{
			margin: 35px 0;
			font-size: 1.3rem;
			padding: 7px;
			color: #222222ad;
		}
		.main-btn i{
			display: inline-block;
			margin-left: 18px;
			color: #000;
			font-size: 1.2rem;
			vertical-align: middle;
			padding-bottom: 2px;
		}
	}
	.news-row{
	    padding-bottom: 10px;
	    background-image: url(../../../assets/img/index/line-dotted-rp.png);
		&--readmore{
			display: none;
		}
		.date{
			margin-right: 5px;
			font-size: 1.3rem;
		}
		.new-item{
			padding-left: 0px;
			span{
				font-size: 1.3rem;
			}
			&.hot span{
			    display: inline-block;
			    height: 15px;
			    border-radius: 10px;
			    text-align: center;
			    font-size: 1.1rem;
			    line-height: 15px;
			    vertical-align: middle;
			    padding: 1px 5px;
			    font-size: 1.2rem;
			    margin: 0 3px;
			}
		}
	}

/*=====End-News======*/
/*========Start-Introduce===*/
.introduce-section {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    .intro--infoone {
        flex-direction: column-reverse;
	    &__img {
	        width: 100%;
	    }
	    &__right {
	        padding: 0px;        
	        width: 100%;
	        max-width: 100%;
	        .descript-summary {
	            font-size: 1.5rem;
	            line-height: 2.3rem;
	            color: #222222ad;
	        }

	    }
	    .slogan {
	        font-size: 1.5rem;
	        margin-bottom: 11px;
	        line-height: 1.1;
	        font-weight: bold;
	    }
	    .tittle{
				padding: 0;
				margin-top: 14px;
				font-size: 1.5rem;
				height: 25px;
				line-height: 25px;
				padding-left: 6px;
				color: #222222;
				padding-right: 6px;
				margin-bottom: 12px;
	        }
    }
    .intro--infotwo {
        margin-top: 0;
        & > *{
    		display: block;
    	}
    	&__img{
    		margin-top: 6px;
    		position: relative;
    		&:before {
			    content: '';
			    padding-top: 33.857%;
			    display: block;
		    }
		    img{	
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	bottom: 0;
		    	height: 100%;
		    	right: 100%;
		    	width: 100%;
		    }

    	}
    	
    	&__left{
    		width: 100%;
    		background-color: #fff;
    		padding: 0;
    		.tittle{
    			margin-top: 15px;
    			font-size: 1.5rem;
    			margin-bottom: 10px;
    			padding: 0px 13px;
    		}
    		.slogan {
    		    font-size: 1.5rem;
    		    margin-bottom: 5px;
    		    line-height: 2.4rem;
    		    font-weight: 700;
    		}
    		.descript-summary {
    		    font-size: 1.3rem;
    		    line-height: 2.5rem;
    		}
    	}
    }
}
.intro--infoone__img{ 
	position: relative;
	 margin-top: 10px;
 	
     img{	
     	width: 100%;
     	height: 175px;
     }
	.main-btn.img-read-sp{
		margin-top: 30px;
		margin-bottom: 35px;
		display: block;
		padding: 6px 35px;
		color: #222222;
		img{
			width: auto;
			height: auto;
			margin: auto;
		}
		i{
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			margin-left: 14px;
			color: #000;
		}
	}
}


/*===End-introduce-section====*/
/*=========Start-bannerindex-section===========*/
.bannerindex-section{
	padding-bottom: 0;
	margin-top: 35px;
	.bannerindex__img{
		border-bottom: 1px solid #6F706B;
		&:before {
	    	padding-top: 86.07%;
	 	}
	 }
	.banind--title {
	    width: 100%;
	    max-width: 100%;
	    top: 30px;
	}

	.banind--title{
		h3 {
		    font-size: 1.5rem;
		    margin-bottom: 18px;
		    line-height: 1.2rem;
		    font-weight: 400;
		    text-shadow: 2px 2px 2px #736C5B;
	    }
	}
	.banind--listHotline__hotline {
	    padding: 15px 28px;
	}
	.banind--listHotline__hotline p {
	    font-size: 1.3rem;
	    line-height: 1.2rem;
	    margin-bottom: 8px;
	}
}
.banind--listHotline{
	margin: 0;
    left: 20px;
    right: 20px;
    position: absolute;
    top: 63px;
	.mail {
    	display: block;
    	background-color: #82141A;
    	opacity: 1;
    	-webkit-filter: none;
    	filter: none;
    	border-color: #82141A;
    	padding: 22px 15px;
    	margin-top: 20px;
    	.pc-only{
    		display: none;
    	}
    	.sp-only {
    	    display: block;
    	    margin: auto;
    	}
	}
	.item{
		margin-bottom: 16px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		img{
			margin: auto;
		}
	}
}
.banind--listHotline > *{
	display: block;
	width: 100%;	
}
/*=========End-bannerindex-section===========*/
}
