/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
	margin-bottom: 40px;
	&--footer{
		margin-bottom: 0px;
	}
	li {
	    color: #676767;
	    display: inline;
	    position: relative;
	    font-size: 1.4rem;
	    &:first-child{
			text-transform: uppercase;
		}
		img{
			display: inline-block;
			vertical-align: middle;
			padding-right: 6px;
			padding-left: 5px;
			padding-bottom: 2px;
		}
	}
	a {
	    text-decoration: none;
	    position: relative;
	    font-size: 1.4rem;
	    color: #404040;
	}
	li:not(:first-child):before {
		/* font-family: "Font Awesome 5 Free";
		content: "\f054";
		display: inline-block;
		padding-right: 8px;
		padding-left: 8px;
		vertical-align: middle;
		font-weight: 900;
		font-size: 0.9rem;
		color: #000;
		line-height: 10px; */
	}
	li:not(:last-child) a:after{
		content: '';
		position: absolute;
		width: 100%;
		background-color: #AFAFAF;
		height: 1px;
		left: 0;
		bottom: 0;
	}
}