/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
	&__top {
	    padding: 6px 0;
	    border-bottom: 1px solid #CCCCCC;
	    border-top: 1px solid #CCCCCC;
	}
	&__main {
	    padding-top: 35px;
	    background-color: #FAFAFA;
	    border-bottom: 1px solid #E1E1E1;
	    padding-bottom: 38px;
	}
	.c-listSitemap{
		@include  display-flex(-25px,-25px);
	}
}

.c-sitemap{
	padding: 0 25px;
	&:nth-child(1){
		li:before{
				font-family: "Font Awesome 5 Free";
				content: "\f111";
				display: inline-block;
				padding-right: 3px;
				vertical-align: middle;
				font-weight: 900;
				font-size: 5px;
				padding-bottom: 4px
		}
	}
	&:nth-child(2){
		li:before{
			font-family: "Font Awesome 5 Free";
			content: "\f105";
			display: inline-block;
			padding-right: 4px;
			vertical-align: middle;
			font-weight: 900;
			line-height: 12px;
			margin-bottom: 3.2px;
			font-size: 1rem;
		}
	}
	&:nth-child(3){
		.fa{
			font-family: "Font Awesome 5 Free";
			content: "\f0c1";
			display: inline-block;
			padding-right: 4px;
			vertical-align: middle;
			font-weight: 900;
			font-size: 12px;
			line-height: 12px;
			margin-bottom: 3px;
		}
		.fa-link:before{
		    transform: rotate(180deg);
		}
	}

	&__block{
		width: 300px;
		li{
			position: relative;
			font-size: 1.4rem;
			
		}
		a{
			color: #656565;
		}
		p{
			padding-bottom: 9px;
			border-bottom: 1px solid #CCCCCC;
			margin-bottom: 7px;
			display: block;
			font-weight: bold;
			font-size: 1.4rem;
		}
	}
}



#footer-copyright {
    padding-top: 17px;
    padding-bottom: 27px;
    text-align: center;
    font-size: 1.2rem;
}