/* layout
------------------------------------------------------------*/
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	min-width: $baseWidth;
	@include breakpoint(sp) {
		min-width: 320px;
	}
}
//-------------------------------------------------------
.l-container{
	width: $baseWidth;
	margin: 0 auto;
}
//-------------------------------------------------------
